{
  "printWidth": 100,
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "auto",
  "embeddedLanguageFormatting": "auto",
  "editor.formatOnSave": true,
  "editor.formatOnPaste": true,
  "explicitTypes": "always",
  "importFormatting": "auto",
  "insertSpaceAfterCommaDelimiter": true,
  "insertSpaceAfterConstructor": true,
  "insertSpaceAfterFunctionKeywordForAnonymousFunctions": true
}
