.aboutpage__card-container {
    flex: 0 0 auto;
    margin-right: 35px;
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 100%;
    height: auto;
}

.card__image {
    padding-bottom: 20px;
    object-fit: cover;
    height: 19rem;
    max-width: 100%;
}

.card__name {
    font-size: 17px;
    font-weight: 600;
    color: gray;
    padding-bottom: 10px 0;
}

.card__title {
    font-size: 13px;
    color: gray;
}

/* Media queries for responsiveness */

/* Styles for screens with a maximum width of 768px (e.g., tablets) */
@media screen and (max-width: 768px) {
    .aboutpage__card-container {
        flex: 0 0 auto;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 50px;
        max-width: 100%;
        height: auto;
    }

    .card__name {
        font-size: 16px;
        font-weight: 600;
        color: gray;
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: 700;
    }

    .card__title {
        margin-top: -10px;
        font-size: 18px;
        font-weight: 500;
        color: gray;
    }

    .card__image {
        object-fit: cover;
        height: auto;
        max-width: 100%;
    }
}

/* Styles for screens with a maximum width of 36rem (e.g., mobile phones) */
@media screen and (max-width: 36rem) {
    .aboutpage__card-container {
        flex: 0 0 auto;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 50px;
        height: 19rem;
        width: 20rem;
        border: none;
    }

    .card__name {
        text-align: center;
        font-weight: 800;
    }

    .card__title {
        text-align: center;
        font-weight: 500;
        margin-top: -10px;
    }
    .card__image {
        margin-bottom: -11px;
        object-fit: contain;
        height: 19rem;
        width: 100%;
    }
}
