
:root {
    --primary : #10B2F3;
    ;
}

.btn{
    padding: 8px 20px;
    border-radius: 50px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
}
.btn-primary{
    background-color: var(--primary);
    color: #fff;
    border: 1px solid var(--primary);
}
