/* categoriesButton.css */
.button {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 3.75rem;
    color: #8A8A8A;
    transition: all 0.3s ease;
    border: 2px solid #8A8A8A;
  }
  
  .button:hover {
    background-color: #cfcdcd;
    color: #6a6a6a;
  }
  
  .button.clicked {
   color: #1ca782;
    border: 2px solid #3ce2b6;
    background-color: #D1FFF3;
  }
  