.wrapper {
    width: 100%;
    margin: 0 auto;
}

.flex-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}

form {
    display: flex;
    flex-flow: column;
    gap: 90px;
    min-width: 40%;
    margin-bottom: 35px;
}

.textarea-container {
    min-width: 40%;
    margin-top: 70px;
}

input {
    width: 90%;
}
textarea {
    min-width: 100%;
}
h1 {
    margin-bottom: -50px;
}

button {
    width: auto;
    align-self: flex-start;
    margin-top: -50px;
}