* {
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

li a:not(.active) {
    background: var(
        --gradient,
        linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
        linear-gradient(135deg, #10b2f3 0%, #35eab9 100%)
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: margin-box;
}
.get-started-btn {
    background: var(
        --gradient,
        linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
        linear-gradient(135deg, #10b2f3 0%, #35eab9 100%)
    );
}
