header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #fff;
    z-index: 999;
    position:sticky;
    top:0;
    left: 0;
    height:100px;
    margin-top: 0;
  }

.header-links-parent{
    display: flex;
    flex-direction: row;
    float: left;
}

.header-links-parent ul{
    display: flex;
    flex-direction: row;
}


.header-links-parent li{
    list-style: none;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    
}

.header-links-parent li a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: #10B2F3;
    transition: 0.3s ease;
}
.header-links-parent li a:hover,
.header-links-parent li a.active{
    color: #35EAB9;   
}