.right {
    display: flex;
    align-items: center;
    background: url("/login_image.png");
    background-size: cover;
    min-height: 100vh;
    border-radius: 44px 0px 0px 44px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    min-width: 100%;
}

.vectors {
    background-image: url("/booksLab_logo.png");
    width: 20rem;
    max-width: 100%;
    height: 40px;
    background-repeat: no-repeat;
}


input[type=email] {
    padding:1rem 1.30rem;
    margin: 0.5rem 0;
}

input[type=password] {
    padding: 1rem 1.30rem;
    margin: 0.5rem 0;
}

@media only screen and (max-width: 1024px) {
    .right {
        display: none;
    }
}

@media only screen and (max-width: 1430px) {
    .image {
        width: 45rem;
    }
    
}

@media only screen and (max-width: 1430px) {
    .image {
        width: 29rem;
    }
    
}
