.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 790px;
    padding: 35px 50px;
    background-color: transparent;
}

.navbar__input {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
}

.navbar__input-logo {
    height: 30px;
    padding-left: 15px;
}

.navbar__input > input {
    height: 47px;
    width: 450px;
    border-radius: 8px;
    border: none;
    padding-left: 20px;
}

.navbar__input > input:focus {
    outline: none;
}

.navbar__input > input::placeholder {
    font-style: italic;
    color: gray;
    padding: 50px;
    font-size: 17px;
}

.navbar__detail-1 {
    font-family: Montserrat;
    font-size: 32;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
}

.navbar__detail-2 {
    font-family: inter;
    background-color: #afafaf;
    padding: 10px;
    border-radius: 8px;
    font-size: 27;
    font-weight: bold;
    line-height: 29px;
    cursor: pointer;
}
