.profile-container {
    display: flex;
    justify-content: space-between;
    gap: 3rem
}
.left-side {
    background-color: #DFF6FF;
    min-width: 20rem;
    height: 100vh;
}
.right-side {
    /* background-color: transparent; */
    width: 100%;
    margin-right: 3rem;
    padding-top: 1.5rem;

    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.bg-container {
    width: 100%;
}

.bg-image {
    width: 100%;
    height: 10rem;
}

.setting {
    width: 2rem;
}

.profile-form {
    margin-top: 3rem;
}

.input-container-row {
    display: flex;
    justify-content: space-between;
    gap: 4%;
}

.input-container-colomn {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 4%;
}

.input {
    background: #e8f6fa;
    border: 1px solid #35EAB9;
    border-radius: 8px;
    flex: 1;
    /* height: 3rem; */
    padding: .5rem;
    margin-bottom: 3rem;
}

/* .input:focus {

} */

p {
    color: #35EAB9;
    margin-top: 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}