.roadmap-container {
    display: flex;
    justify-content: space-between;
    padding: 3.125rem 12.5rem;
    height: 100vh;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding-bottom: 100px;
    padding-top: 10px;
}

.container-detail h1 {
    color: #000;
    font-family: Montserrat;
    font-size: 3rem;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0.2rem;
}

.container-detail p {
    color: #5b5b5b;
    font-family: Montserrat;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.container-detail p {
    color: #5b5b5b;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* gap: 3rem; */
}

form div {
    display: flex;
    flex-direction: column;
}

label {
    color: #000;
    font-family: Inter;
    margin-bottom: 0.2rem;
    font-family: Inter, Montserrat;
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

select {
    width: 90%;
    height: 3.7rem;
    border-radius: 0.5rem;
    border: 2px solid var(--gradient, #10b2f3);
    background-color: transparent;
    padding: 0.5rem;
    font-size: 1rem;
}

select:focus {
    border: 2px solid var(--gradient, #10b2f3);
}

option[value="l"] {
    color: yellow;
}
input {
    height: 3.7rem;
    width: 90%;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 1px solid var(--gradient, #10b2f3);
    background: #fff;
    padding-left: 2rem;
}

input::placeholder {
    font: Montserrat;
    font-size: 17px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 90%;
}

.btn-skip {
    background: #d9d9d9;
}

.svgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.svgContainer h3 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: right;
    color: #5b5b5b;
}

.svgContainer img {
    object-fit: contain;
    width: 30rem;
    height: 585px;
    margin-left: 170px;
    padding-top: 70px;
}

/* Media query for small screens (e.g., screens up to 768px wide) */
@media screen and (max-width: 768px) {
    .roadmap-container {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .btn-container {
        padding-top: 50px;
    }

    .container-detail p {
        padding-bottom: 25px;
    }

    .svgContainer img {
        display: none;
    }
}

/* Media query for medium screens (e.g., screens up to 992px wide) */
@media screen and (max-width: 992px) {
    @media screen and (max-width: 992px) {
        .roadmap-container {
            padding: 2rem;
        }

        .btn-container {
            padding-top: 50px;
        }

        .container-detail p {
            padding-bottom: 25px;
        }
    }
}
