.uploadContents {
    background-color: whitesmoke;
    justify-content: center;
    width: 900px;
}

.uploadContents__contents {
    background-color: white;
    margin: 50px;
    flex-shrink: 0;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.uploadContents__contents-text {
    font-size: larger;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 500;
}

.uploadContents__contents-content {
    display: flex;
    margin: 20px 20px;
    height: 192px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #f1f1f1;
}

.uploadContents__contents-content > img {
    width: 100px;
    height: 100px;
    flex: 0.5;
    margin-left: 30px;
    margin-top: 45px;
    border-radius: 8px;
}

.uploadContents__contents-content-details {
    display: flex;
    flex-direction: column;
    flex: 2.5;
    padding-left: 25px;
    padding-top: 50px;
}

.uploadContents__contents-content-details > h6 > span {
    color: gray;
}

.uploadContents__contents-content-images {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 0.8;
}

.uploadContents__contents-content-image {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    cursor: pointer;
}

.uploadContents__contents-content-image > img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    border-radius: 3px;
    object-fit: cover;
}
