.main {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: auto;
    display: flex;
}

.left-section {
    display: flex;
    align-items: center;
    background: url("../assets/authPage_bg.png");
    background-size: cover;
    object-fit: cover;
    width: 45%;
    height: 100vh;
    border-radius: 0px 44px 44px 0px;
}

.imgg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    min-width: 100%;;
}

.vector {
    background-image: url("../assets/booksLab_logo.png");
    width: 20rem;
    width: 250px;
    max-width: 100%;
    height: 40px;
    background-repeat: no-repeat;
}

.right-section {
    padding: 0 1.5rem;
    height: auto;
    width: fit-content;
}

.hdngs h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 48px;
    color: rgba(0, 30, 80, 1);
    white-space: nowrap;
}
.hhd h2 {
    font-style: normal;
    font-weight: 750;
    font-size: 3.9rem;
    line-height: 48px;
    color: rgb(10, 12, 15);
    white-space: nowrap;
}

.hdngs p {
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 19px;
    margin-bottom: 1.2rem;
    color: rgba(91, 91, 91, 1);
    margin-bottom: 20px;
}

.code-container {
    display: flex;
    align-items: left;
    justify-content: left;
    margin: 40px 0;
}

.code {
    caret-color: transparent;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #696969;
    font-size: 24px;
    font-family: "Inter" sans-serif;
    width: 100px;
    height: 72px;
    margin: 10px;
    text-align: center;
    font-weight: 500;
}
.hdng {
    font-style: normal;
    font-weight: 400;
    font-size: 2.1rem;
    line-height: 19px;
    margin-bottom: 1.2rem;
    margin-bottom: 20px;
    color: rgba(139, 139, 139, 1);
}
.a {
    text-decoration: none;
    font-weight: 700;
    color: rgba(0, 30, 80, 1);

}

@media (max-width: 600px) {
    .code-container{
        flex-wrap: wrap;
    }
    .code{
        font-size: 24px;
        height: 24px;
        max-width: 17px;
        font-size: bold;
    }
}

.code::-webkit-outer-spin-button, 
.code::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.code:valid {
    border-color: #696969 ;
    box-shadow: 0 10px 10px -5px;
}

.btn {
    width: max-content;
    font-weight: 400;
    font-size: 10px;
    line-height: 30px;
}
